.product__page {
    display: flex;
    padding: 5vw;
    justify-content: space-around;
    max-width: 70vw;
}

img {
    max-width: 30vw;
}

.notification {
    position: absolute;
    top: 50vh;
    right: 2vw;

    &_hide {
    }
}
