@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
.banner {
    font-family: "Playfair Display", serif;
    color: #545454;
    letter-spacing: 10px;
    text-align: center;
}
