@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.navbar {
    display: flex;
    justify-content: space-around;
    max-width: 60vw;
    margin: 0 auto;
    position: relative;

    &__item {
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        color: #545454;

        &:hover {
            text-decoration: underline;
        }
    }

    &__container {
        align-items: center;
    }
}
