.Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 70vw;
    margin: auto;

    @media only screen and (min-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.Product {
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
}

.Products_img {
    max-width: 100%;
}
